
build-*/
cmake-build-*/
Desktop_Qt_*_*_Debug/
Desktop_Qt_*_*_Release/
*.o
*.obj
*.exe
*.dll
*.so
*.a
web_scrapper          


moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.moc


.idea/
.vscode/
*.user
*.user.*
*.autosave


.DS_Store
Thumbs.db
*~


*.log
data.txt
*.tmp
